<div class="modal" id="anouncement-modal">
    <div class="modal-dialog modal-lg mt-2">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#" method="POST">
                    <div class="row">
                        <div class="col-md-11 title">
                            Gửi thông báo
                        </div>
                        <div class="col-md-1 d-flex justify-content-center">
                            <button type="button" class="close d-flex align-items-center" data-dismiss="modal"
                                aria-label="Close" id=close-anouncement-button>
                                <span aria-hidden="true" class="d-flex align-items-center"><i
                                        class="fas fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gray-divider">

                        </div>
                    </div>
                    <div class=row>
                        <div class="col-md-2">
                            <div class="sub-title">
                                Người nhận
                            </div>
                        </div>
                        <div class="col-md-10">
                            <label class="container1 d-flex align-items-center">Tất cả tài xế
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gray-divider">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="sub-title">
                                Nội dung
                            </div>
                        </div>
                        <div class="col-md-10">
                            <textarea name="message" rows="10" class="sub-title col-md-10"
                                placeholder="Nhập tin nhắn"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-2">
                        <button type=submit class="btn" id="send-anouncement-button">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>